.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #f7f7f7;
  background-color: #fcfcfc;
}

.header__name {
  font-size: 20px;
}
.header h1 {
  font-size: 40px;
}
.header__time .header__day {
  font-size: 10px;
}
