.nav {
  position: fixed;
  width: 100%;
  padding: 10px;
  bottom: 0;
  background-color: #fcfcfc;
  border-top: 1px solid #f7f7f7;
}
.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav i:not(.fa-dog) {
  font-size: 35px;
  color: black;
}

.nav__moreStar {
  font-family: "Vibes", cursive;
  font-size: 35px;
}

@keyframes spin {
  from {
    transform: none;
  }
  to {
    transform: rotateY(1turn);
  }
}

@keyframes showNavBar {
  from {
    transform: translateY(80px);
  }
  to {
    transform: none;
  }
}
.nav {
  transform: translateY(80px);
  animation: showNavBar 0.5s ease-out forwards;
  animation-delay: 0.5s;
}

.nav__heart {
  cursor: pointer;
}

.nav__heart:hover {
  color: red;
  animation: spin 1s linear infinite;
}
